body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
}

.primary-bg-color-1 {
    background-color: #FFEECA;
}

.primary-bg-color-2 {
    background-color: #F9D4D8;
}

.primary-bg-color-3 {
    background-color: #916134;
}

/* **********header********** */
/* **********header********** */
/* **********header********** */
header {
    border-bottom: 1px solid #916134;
}

.container {
    display: flex;
    max-width: 1140px;
    width: 80%;
    margin: auto;
    position: relative;
}

.logo {
    width: 153px;
    height: 41.4px;
    margin: 10px;
    position: absolute;
}

.logo img {
    width: 100%;
    margin: auto;
}

.navbar {
    margin: auto;
}

.navbar>ul {
    list-style-type: none;
    margin: 60px 0px 0px 0px;
    padding: 0px;
    display: flex;
}

.navbar>ul>li {
    padding: 20px;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: black;
    letter-spacing: .1em;
}

.navbar>ul>li>a:hover {
    color: rgb(253, 185, 39);
}

.nav-icon {
    position: absolute;
    right: 0px;
}

.list-item {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 12px 0px;
}

.fa-shopping-cart,
.fa-question-circle {
    color: black;
}

.fa-shopping-cart:hover,
.fa-question-circle:hover {
    color: rgb(253, 185, 39);
}

@media screen and (min-width: 768px){
    .container {
        width: 90%;
    }

    .navbar>ul {
        margin: 0;
    }
}

/* **********edit-password********** */
/* **********edit-password********** */
/* **********edit-password********** */
.password .container .edit-password{
    flex-direction: column;
    width: 100%;
    max-width: 686px;
    margin: auto;
    position: relative;
    padding: 150px 0px;
}

.text-center{
    text-align: center;
}

.fa-circle{
    line-height: 40px;
    padding: 0px 5px;
    color: #FFEECA;
}

input[type="text"]{
    height: 40px;
    border:none;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 88%;
    position: absolute;
    right: 0px;
    padding-left: 2%;
    font-size: 1em;
}

input[type="submit"]{
    font-size: 1em;
}

.btn{
    text-align: center;
    border:none;
    margin-top: 15px;
    padding:15px;
    border-radius:4px;
    width: 100%;
    background-color: #FFEECA;
}

.btn:hover{
    background-color: rgb(255, 208, 106);
}


@media screen and (min-width: 768px){
    .password .container .edit-password{
        width: 60%; 
    }
    input[type="text"]{
        width: 90%;
    }
}

@media screen and (min-width: 1440px){
    input[type="text"]{
        width: 94%;
    }

}

/* **********footer********** */
/* **********footer********** */
/* **********footer********** */
.footer {
    visibility: hidden;
}

/* #footerlogo {
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 90px;
} */

.footer-link {
    /* float: left; */
    width: 55%;
    padding-left: 20px;
    /* padding-top: 85px; */
    align-items: center;
}

.footer-link h4{
    color: white;
    letter-spacing: .1em;
    padding-left: 40px;
}

.footer-link ul {
    display: flex;
    margin: 5px 0px;
}

.footer-link ul li {
    /* margin-top: 5px; */
    list-style-type: none;
    /* background-color: #613E00; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link li+li::before{
   content: '|';
   color: white;
   display: inline-block;
   margin: 0.4em 1em;
}

.footer-link ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: .1em;
}

.footer-link ul li a:hover{
    color: #FFEECA;
}

.footer-list-item {
    display: inline-block;
    width: 45%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-facebook-square,
.fa-instagram {
    color: rgb(255, 255, 255);
    padding: 30px 40px 0px 0px;
}

.fa-facebook-square:hover,
.fa-instagram:hover{
    color: #FFEECA;
}

.copyright {
    /* width: 100vw; */
    /* height: 40px; */
    background-color: #613E00;
    text-align: center;
    line-height: 40px;
    color: #fff5e0;
    font-size: 12px;
}

@media screen and (min-width: 1440px){
    .footer {
        height: 200px;
        display: flex;
        visibility: visible;
    }
}